﻿<div class="row text-center">
    <h3>Weather Forecast</h3>
    <hr/>
</div>

<div class="row">
    <div class="col-xs-8">
        <div class="text-center">
            <div class="btn-group">
                <button type="button" class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown">
                    Continent<span class="caret"></span>
                </button>
                <ul class="dropdown-menu option" role="menu" id="ddnContinent"></ul>
            </div>

            <div class="btn-group">
                <button type="button" class="btn btn-success btn-sm dropdown-toggle" data-toggle="dropdown">
                    Country<span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu" id="ddnCountry"></ul>
            </div>

            <div class="btn-group">
                <button type="button" class="btn btn-info btn-sm dropdown-toggle" data-toggle="dropdown">
                    City<span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu" id="ddnCity"></ul>
            </div>

            <button id="btnSubmit" class="btn btn-default btn-sm alert-info">Find It</button>
        </div>
        <div class="row">
            <div id="forecast_main" class="col-md-offset-2"></div>
        </div>

        <div class="row">
            <div id="forcast_sub"></div>
        </div>

        <div id="alert_body"></div>

    </div>
    <div class="col-xs-4">
        <div id="hourly_long_list" class="text-center"></div>
    </div>
</div>

@section scripts
{
    <script type="text/javascript">
        var daily = [];
        var time_zone = 1000 * (new Date().getTimezoneOffset()) * (-60);
        var month = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Avg", "Sen", "Oct", "Nov", "Dec"];

        var latitude;
        var longitude;

        var appId = 'bd38eee3701b6d6e0ee76ce93a53376a';
        var units = "metric";
        var cnt = 14;
        var timeout = 2000;

        $(function () {
            dropDownLists();

            displayForcastByGeolocation();

            $('body').on('click', '#btnSubmit', function () {
                var selectedCountry = $('#ddnCountry').prev().text();
                var selectedCity = $('#ddnCity').prev().text();

                if (selectedCity.trim() == 'City' || selectedCountry.trim() == 'Country')
                    return;

                displayforecastByCityAndCountry(selectedCity, selectedCountry);

                $('#forcast_sub').empty();
                $('#hourly_long_list').empty();
            });

            $('body').on('click', '#btnforcastCity', function () {
                var cityAndCountry = $('#anchorforcastCity').text();

                displaydailyforecast(cityAndCountry);
                displayhourlyforecast(cityAndCountry);
            });
        });

        function displayhourlyforecast(requestData) {

            $.ajax({
                url: 'http://api.openweathermap.org/data/2.5/forecast/',
                methohd: 'get',
                data: { q: requestData, units: units, cnt: cnt, appid: appId },
                dataType: 'json',
                success: function (response) {
                    showForecastHourlyListLong(response);
                },
                error: function (err) {
                    setTimeout(displayhourlyforecast(requestData), timeout);
                }
            });
        }

        function showForecastHourlyListLong(data) {
            var forecast = data.list;
            var curdate = new Date((new Date()).getTime() - 180 * 60 * 1000);

            var html = '';
            var lastday = 0;
            lastday = 0;

            for (var i = 0; i < forecast.length - 22; i++) {
                if (!forecast[i].main) continue;

                var dt = new Date(forecast[i].dt * 1000);

                if (curdate > dt) continue;

                var day = dt.getDate();
                var hr = dt.getHours();
                if (hr < 10) hr = '0' + hr;

                if (day != lastday) {
                    html = html + "<tr class='well'><td colspan='2'><b>" + dt.toDateString() + "</b> </td></tr>";
                    lastday = day;
                }

                var temp = Math.round(10 * (forecast[i].main.temp)) / 10;
                var tmin = Math.round(10 * (forecast[i].main.temp_min)) / 10;
                var tmax = Math.round(10 * (forecast[i].main.temp_max)) / 10;

                var text = forecast[i].weather[0].description;

                var img = forecast[i].weather[0].icon;
                var gust = 0;
                if (forecast[i].wind)
                    gust = forecast[i].wind.speed;
                var pressure = forecast[i].main.pressure;
                var cloud = forecast[i].clouds.all;

                html = html + '<tr><td>' + hr + ':00 <img src="http://openweathermap.org/img/w/' + img + '.png" > ' +
                    '</td><td><span class="label label-info">' + temp + '°C</span> <i>' + text + '</i> ' +
                    '<p> ' + tmin + '  ' + tmax + '°C,  ' + gust + 'm/s.  ' + cloud + '%, ' + pressure +
                    ' hpa</p></td></tr>';

            }
            html = '<table class="table">' + html + '</table>';

            $("#hourly_long_list").html(html);

        };

        function displaydailyforecast(requestData) {
            $.ajax({
                url: 'http://api.openweathermap.org/data/2.5/forecast/daily',
                methohd: 'get',
                data: { q: requestData, units: units, cnt: cnt, appid: appId },
                dataType: 'json',
                success: function (response) {
                    showForecastDaily(response);
                },
                error: function (err) {
                    setTimeout(displaydailyforecast(requestData), timeout);
                }
            });
        }

        function displayforecastByCityAndCountry(selectedCity, selectedCountry) {

            var requestData = selectedCity + "," + selectedCountry;

            $.ajax({
                url: 'http://api.openweathermap.org/data/2.5/find',
                method: 'get',
                data: { q: requestData, appid: appId },
                dataType: 'json',
                success: function (response) {
                    showForecastCity(response);
                },
                error: function (err) {
                    setTimeout(displayforecastByCityAndCountry(selectedCity, selectedCountry), timeout);
                }
            });
        }

        function showForecastCity(d) {
            var name = d.list[0].name + ', ' + d.list[0].sys.country;
            var temp = Math.round(10 * (d.list[0].main.temp - 273.15)) / 10;
            var tmin = Math.round(10 * (d.list[0].main.temp_min - 273.15)) / 10;
            var tmax = Math.round(10 * (d.list[0].main.temp_max - 273.15)) / 10;
            var text = d.list[0].weather[0].description;
            var img = "/img/" + d.list[0].weather[0].icon + ".png";

            if (d.list[0].sys.country == '')
                d.list[0].sys.country = "ie";

            var flag = "/img/flags/" + d.list[0].sys.country.toLowerCase() + ".png";
            var gust = d.list[0].wind.speed;
            var pressure = d.list[0].main.pressure;
            var cloud = d.list[0].clouds.all;

            var html = '<tr><td><img src="' + img + '" ></td><td><b><a href="#" id="anchorforcastCity">' + name + '</a></b>' +
                ' <img src="' + flag + '" >  <b><i>' + text + '</i> </b>' +
                '<button class="btn btn-xs btn-danger" id="btnforcastCity">Find Forecast</button>' +
                '<p>  <span class="label label-info">' + temp + '°С </span> ' +
                'temperature from ' + tmin + ' to ' + tmax + '°С, wind ' + gust + 'm/s. clouds ' + cloud + '%, ' + pressure +
                ' hpa</p><p>Geo coords [ ' + d.list[0].coord.lon + ", " + d.list[0].coord.lat + ' ]</a></p></td></tr>';
            
            $("#forecast_main").html(html);
        }

        var getLocation = function (callback) {
            navigator.geolocation.getCurrentPosition(function (pos) {
                succesfull(pos);
                typeof callback === 'function' && callback(geoloc);
            }, function () {
                showAlertMess("geolocation doesn't work, check the internet connection");
            });
        };

        var geoloc;
        var succesfull = function (position) {
            geoloc = {
                longitude: position.coords.longitude,
                latitude: position.coords.latitude
            };
        };

        function displayForcastByGeolocation() {

            getLocation(function (pos) {
                latitude = pos.latitude;
                longitude = pos.longitude;

                $.ajax({
                    url: 'http://api.openweathermap.org/data/2.5/find',
                    method: 'get',
                    data: { lat: latitude, lon: longitude, appid: appId },
                    dataType: 'json',
                    success: function (response) {
                        showForecastCity(response);
                    },
                    error: function (err) {
                        showAlertMess(err.status + ' ' + err.statusText);
                    }
                });
            });
        }

        function showForecastDaily(d) {
            var html = "<tr class='well text-center'><td colspan='2'><b>" + d.city.name + ", " + d.city.country + "</b> </td></tr>";

            daily = d.list;
            for (var i = 0; i < daily.length - 1; i++) {
                var dt = new Date(daily[i].dt * 1000 + time_zone);
                var day = dt.getDate() + ' ' + month[dt.getMonth()];

                var temp = Math.round(10 * (daily[i].temp.day)) / 10;
                var eve = Math.round(10 * (daily[i].temp.eve)) / 10;
                var morn = Math.round(10 * (daily[i].temp.morn)) / 10;
                var night = Math.round(10 * (daily[i].temp.night)) / 10;
                var icon = daily[i].weather[0].icon;
                var text = daily[i].weather[0].description;

                html += '<tr><td>' + day + ' <img src="/img/' + icon + '.png" ></td><td>';
                if (temp > 0)
                    html += '<span class="label label-warning">';
                else
                    html += '<span class="label label-primary">';
                html += temp + '°C </span>&nbsp<span class="label label-default">' + night +
                    '°C </span> &nbsp&nbsp<i>' + text + '</i> <p> ' + daily[i].speed + 'm/s <br>clouds: ' + daily[i].clouds + '%, ' +
                    daily[i].pressure + ' hpa</p></td></tr>';
            }

            html = '<table class="table">' + html + '</table>';

            $('#forcast_sub').html(html);
        }

        function showAlertMess(mess) {
            var html = '<div class="alert alert-error" ><a class="close" data-dismiss="alert" href="#">×</a>' + mess + '</div>';
            $("#alert_body").html(html);
        }

        function dropDownLists() {
            $.ajax({
                url: 'http://localhost:7727/api/Continents/',
                dataType: 'json',
                method: 'get',
                success: function (data) {
                    dropDownListContinent(data);
                },
                error: function (err) {
                    showAlertMess(err.status + ' ' + err.statusText);
                }
            });
        }

        function dropDownListContinent(data) {
            $.each(data, function (index, item) {
                var li = $('<li>', { text: item.ContinentName, id: item.Id });
                var liWithAnchor = li.wrapInner('<a href="#"/>');
                $('#ddnContinent').append(liWithAnchor);
            });

            bindDataToDropDownList('#ddnContinent');
        }

        function bindDataToDropDownList(selectedItem) {
            $('body').on('click', selectedItem + ' li a', function () {
                var selText = $(this).text();
                $(this).closest('div')
                    .find('button[data-toggle="dropdown"]')
                    .html(selText + ' <span class="caret"></span>');

                if (selectedItem == '#ddnContinent') {
                    var continentId = $(this).parent().attr('id');
                    $('#ddnCountry').empty();
                    $('#ddnCountry').prev().html('Country <span class="caret"/>');
                    $('#ddnCity').prev().html('City <span class="caret"/>');

                    $.ajax({
                        url: 'http://localhost:7727/api/Continents/',
                        dataType: 'json',
                        method: 'get',
                        success: function (data) {
                            $.each(data, function (indexCont, continents) {
                                if (continents.Id == continentId) {
                                    $.each(continents.Countries, function (indexCout, countries) {
                                        var li = $('<li>', { text: countries.CountryName, id: countries.Id });
                                        var liWithAnchor = li.wrapInner('<a href="#"/>');
                                        $('#ddnCountry').append(liWithAnchor);
                                    });
                                }
                            });

                            bindDataToDropDownList('#ddnCountry');
                        },
                        error: function (err) {
                            showAlertMess(err.status + ' ' + err.statusText);
                        }
                    });
                } else {
                    var countryId = $(this).parent().attr('id');
                    $('#ddnCity').empty();
                    $('#ddnCity').prev().html('City <span class="caret"/>');

                    $.ajax({
                        url: 'http://localhost:7727/api/countries/',
                        dataType: 'json',
                        method: 'get',
                        success: function (data) {
                            $.each(data, function (indexCout, contries) {
                                if (contries.Id == countryId) {
                                    $.each(contries.Cities, function (indexCity, cities) {
                                        var li = $('<li>', { text: cities.CityName, id: cities.Id });
                                        var liWithAnchor = li.wrapInner('<a href="#"/>');
                                        $('#ddnCity').append(liWithAnchor);
                                    });
                                }
                            });

                            var seen = {};
                            $('#ddnCity li').each(function () {
                                var txt = $(this).text();
                                if (seen[txt])
                                    $(this).remove();
                                else
                                    seen[txt] = true;
                            });
                        },
                        error: function (err) {
                            showAlertMess(err.status + ' ' + err.statusText);
                        }
                    });

                    $('body').on('click', '#ddnCity li a', function () {
                        var selText = $(this).text();
                        $(this).closest('div')
                            .find('button[data-toggle="dropdown"]')
                            .html(selText + ' <span class="caret"></span>');
                    });
                }
            });
        };

    </script>
}


